body {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.board {
  display: inline-flex;
  flex-wrap: wrap;
  width: 300px;
}

.box {
  height: 80px;
  width: 80px;
  border: solid 1px black;
  display: inline-block;
  line-height: 80px;
}
